* { 
      -webkit-box-sizing: border-box;    
      -moz-box-sizing: border-box;          
      box-sizing: border-box;
      margin: 0;
      padding: 0;
 }

body {
  background-image:url(bg.png);
  font family:"Helvetica Neue", Helvetica;
  font-size: 13px;
  color:#555555;

}
.titreheader {
  margin-left: 5px;
}
header h3 {
  font-weight: lighter;
}
h1 {
  font-size: 52px;
  font-family: "Terminal Dosis";
  margin-bottom: -10px;
}
h2 {
  font-size: 28px;
  font-family: "Terminal Dosis";
}
#container {
  width: 994px;
  margin-left: 25px;
  border: 1px #f4f4f4 solid;
  background-color: #ffffff;

}
header {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 25px;
  width: 900px;

}
.loupe {
  width: 34px;
  height:22px;
  display: inline-block;
  float: right;
}
nav {
  background-color: #fafafa;
  height:59px;

}
ul {
  list-style-type: none;
  margin:0px;
  padding:0px;

}
ul li {
  margin-left: 10%;



}
ul li a{
  text-decoration: none;
  display: block;
  float: left;
  padding:20px;
  /*margin-left: 5px;*/
  color:#555555;
  font-weight: bolder;
}
nav ul li ul {
  display:none;
  position:absolute;
}
nav ul li:hover ul {
 display:block;
 background-color: #fafafa;
 height: 33px;
 }
/*nav li:hover ul li {
 float:none;
 }*/
main {
  width:900px;
  margin-left: 25px;
}
.image1 {
  height:508px;
  width:900px;
  /*margin-bottom: 38px;*/
}
.cloud {
  text-align: center;
}
.bandegrise {
  height: 40px;
  background-color: #fafafa;
}
.titrefooter {
  text-align: center;
}
footer {
  height:235px;
  width: 900px;
  background-color: #fafafa;
  margin-bottom: 25px;
  margin-left: 25px;
}
section {
  width: 25%;
  float: left;

}
